<div>
<div class="modal-header ng-scope">
    <button class="close hidden-iphone-portrait" role="button" data-dismiss="modal">×</button>
    <h3>Edit brag list</h3>
</div>
<div class="modal-body ng-scope">

    <div class="list-box">
        <ul class="unstyled">

            <li class="editing">
                <!--<span class="catText" style="display:block;">{{listCopy.fancyListName}}</span>-->

                 <span class="inputWrapper">
                     <label for="listName">List name</label>
                    <input id="listName" type="text" ng-model="editableListName"/>
                 </span>

                <!-- <span class="editBtnsWrapper pull-right">
                    <i class="editBtn icon-pencil"></i>
                    <i class="delBtn ">&times;</i>
                 </span> -->

                <label for="listDesc">Description</label>
                <textarea id="listDesc" class="bioInfoInput" ng-model="editableListDescription" rows="3" cols="3" maxlength="200" placeholder="Add Description...">{{editableListDescription}}</textarea>

                <button class="btn-mini btn-red" type="" ng-click="deleteList(listCopy)">Delete List</button>
            </li>

        </ul>
        <div class="disclaimer"><i class="astrix">*</i>Deleting a category will move the containing products to '<em class="bnbRed"><strong>Things I love</strong></em>' category.</div>
    </div>

</div>

<div class="modal-footer ng-scope">
    <button class="btn btn-blue" role="button" data-close ng-click="updateListData()">Save</button>
</div>
</div>