<!--=========================== SOCIAL FRIENDS LIST CONTAINER STARTS =======================================-->

<div class="socialViewContainer container" ng-controller="SocialController">

    <div class="commentsContainer span6 leftMar0">

        <div class="socialHeader">Followers (<strong>{{userInfo.totalFollowers || 0}}</strong>)</div>

        <div class="comments">
            <ul class="spinner" ng-hide="hideFollowerSpinner">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <div class="comment" ng-repeat="user in followers">
                <a ng-href="profile/fancy/{{user.followerID}}" class="commenterImg pull-left">
                    <img ng-src="{{userImg({id: user.followerFBID, dimension: 75, gender: user.followerGender})}}">
                </a>
                <div class="commentContent inlineBlock">
                    <h4 class="commenterName"><a ng-href="profile/fancy/{{user.followerID}}">{{user.followerName}}</a></h4>
                    <p>Rank : {{(!user.followerRank || user.followerRank == 0) && user.followerID || user.followerRank}}</p>
                </div>

                <btn-follow usertofollow="{{user.followerID}}" has-followed="{{user.hasFollowed}}"></btn-follow>
            </div>

            <button ng-click="loadMoreFollowers()" ng-hide="hideFollowerBtn" class="btn btn-flat loadMoreBtn">Load More...</button>

        </div>

        <div class="noSocial" ng-show="showSuggestions">
            <div class="icon icon-angry-smiley text-center"></div>
            <div class="msg">No one is following you. Start following someone to discover socially.<br>Here are some suggestions...</div>

            <div class="peopleSuggestions comments">
                <div class="comment" ng-repeat="user in followSuggestions">
                    <a ng-href="profile/fancy/{{user.userID}}" class="commenterImg pull-left">
                        <img ng-src="{{userImg({id: user.userFBID, dimension: 75, gender: user.userGender})}}">
                    </a>
                    <div class="commentContent inlineBlock">
                        <h4 class="commenterName"><a href="" ng-click="openModal('personModal', {uid: user.userID})" role="button" data-toggle="modal">{{user.userFullName}}</a></h4>
                        <p>Rank : {{(!user.userRank || user.userRank == 0) && user.userID || user.userRank}}</p>
                    </div>
                    
                    <btn-follow usertofollow="{{user.followerID}}" has-followed="{{user.hasFollowed}}"></btn-follow>
                </div>
            </div>
        </div>

    </div>

    <div class="commentsContainer span6">

        <div class="socialHeader">Following (<strong>{{userInfo.totalFollowing || 0}}</strong>)</div>

        <div class="comments">
            <ul class="spinner" ng-hide="hideFollowingSpinner">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <div class="comment" ng-repeat="user in following">
                <a ng-href="profile/fancy/{{user.followingID}}" class="commenterImg pull-left">
                    <img ng-src="{{userImg({id: user.followingFBID, dimension: 75, gender: user.followingGender})}}">
                </a>
                <div class="commentContent inlineBlock">
                    <!--<h4 class="commenterName"><a href="#" ng-click="openModal('personModal', {uid: user.followingID})" role="button" data-toggle="modal">{{user.followingName}}</a></h4>-->
                    <h4 class="commenterName"><a ng-href="profile/fancy/{{user.followingID}}">{{user.followingName}}</a></h4>
                    <p>Rank : {{(!user.followingRank || user.followingRank == 0) && user.followingID || user.followingRank}}</p>
                </div>
                
                <btn-follow usertofollow="{{user.followingID}}" has-followed="{{user.hasFollowed}}"></btn-follow>
            </div>

            <button ng-click="loadMoreFollowing()" ng-hide="hideFollowingBtn" class="btn btn-flat loadMoreBtn">Load More...</button>
            
        </div>
    </div>

</div>

