<div id="midSection" class="container storePage cssTransitionSlow" ng-controller="StoreDisabledController">

    <ul class="breadcrumb">
        <li class="linkBack"><a href="#">Home</a></li>
        <li class="linkBack"><a href="#/allStores">All Stores</a></li>
        <li>{{storeInfo.store_name}}</li>
    </ul>

    <div class="subCategoriesContainer">
        <h5 class="subCatHeading">Subcategories</h5>

        <div class="subCats">
            <span class="inlineBlock" ng-repeat="section in storeSections">
                <a ng-href="#/store/{{storeInfo.store_name | beautify}}/{{section.storeSectionName | beautify}}/{{storeID}}/{{section.storeSectionID}}">{{section.storeSectionName}}</a>
            </span>
        </div>
    </div>

    <div class="storeNameWrapper">

        <div class="inlineBlock">
            <h1 class="storeName ng-binding">{{storeInfo.store_name}}</h1>
        </div>

        <div class="storeStats pull-right hidden-phone">
            <div class="bragIconLarge inlineBlock">
                <span class="bragCount bnbRedFont ng-binding">{{storeInfo.storeBragCounter}}</span>
                <span class="statsText block">People bragged it</span>
            </div>
            <div class="fancyIconLarge inlineBlock">
                <span class="fancyCount bnbRedFont ng-binding">{{storeInfo.storeFancyCounter}}</span>
                <span class="statsText block">People fancied it</span>
            </div>
            <div class="viewIconLarge inlineBlock">
                <span class="viewCount bnbRedFont ng-binding">{{storeInfo.storeVisitCounter}}</span>
                <span class="statsText block">People viewed this</span>
            </div>
        </div>

        <div id="banner" class="relative" style="box-shadow: none;">
            <img class="storeBannerImg" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/{{storeID}}/storepage_banner.jpg" alt="BuynBrag {{storeInfo.store_name}} banner"/>
            <!--<img class="storeBannerImg" src="/assets/images/landingPageBanners/store2.jpg" alt="BuynBrag {{storeInfo.store_name}} banner"/>-->

        </div>

        <!--<div class="productCtaContainer">-->
        <!--<button class="fancyItemBtn btn btn-flat"><span class="btnText"><span class="fancyIconPink"></span>{{fancytext}}</span></button>-->
        <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
        <!--</div>-->

        <div class="storeDescriptionContainer">

            <div class="storePolicies pull-right hidden-iphone-landscape">
                <img ng-show="storeInfo.COD_policy == 1" src="/assets/images/badges/stores/cod.png" alt="cod badge">
                <img ng-show="storeInfo.return_policy == 1" src="/assets/images/badges/stores/happyreturn.png" alt="return badge">
                <img ng-show="storeInfo.EMI_policy == 1" src="/assets/images/badges/stores/emi.png" alt="emi badge">
            </div>

            <div class="storeDescription">
                {{storeInfo.about_store}}
            </div>

        </div>

    </div>

    <div class="filtersContainer">
        <!--<button class="btn btn-flat hideFilter closed">Show Filters</button>-->
        <div class="sortText visible-phone">Sort By:</div>
    <span class="filterButtons">
        <button class="btn {{ (filter == filters.latest) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.latest" ng-click="filterProducts(filters.latest)">New Arrivals</button>
        <button class="btn {{ (filter == filters.popularity) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.popularity" ng-click="filterProducts(filters.popularity)">Popularity</button>
        <button class="btn {{ (filter == filters.lowestPrice) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.lowestPrice" ng-click="filterProducts(filters.lowestPrice)"><span class="priceFilterText low">Lowest Price</span></button>
        <button class="btn {{ (filter == filters.highestPrice) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.highestPrice" ng-click="filterProducts(filters.highestPrice)"><span class="priceFilterText high">Highest Price</span></button>
        <button class="btn pull-right onSaleButton {{ (filter == filters.onSale) && 'selected disabled' || 'btn-red' }}" ng-disabled="filter == filters.onSale" ng-click="filterProducts(filters.onSale)">On Sale</button>
    </span>
    </div>

    <!--<div class="span3 sidebarNav">-->
    <!--<ul class="navList unstyled">-->
    <!--<li>-->
    <!--<a class="navOpen" href="">Living Room</a>-->
    <!--<ul class="subNavList">-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--<li>-->
    <!--<a class="navOpen" href="">Second level link</a>-->
    <!--<ul class="subNavList">-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--<li>-->
    <!--<a class="navOpen" href="">Third level link</a>-->
    <!--<ul class="subNavList lastLevel">-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--<li><a class="navOpen" href="">Fourth level link</a></li>-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="">Dining Room</a></li>-->
    <!--<li><a href="">Bed Room</a></li>-->
    <!--<li><a href="">Home Office</a></li>-->
    <!--<li><a href="">Entry Way</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <div class="fanciedProductsContainer" infinite-scroll="getProducts()" infinite-scroll-distance="1">

        <div class="imageRepetition" ng-repeat="product in storeProducts">

            <ul class="fancyProductMediumContainer">
                <!--<li class="span4 fancyItem" style="margin-left: 0;">-->
                <li dm-click class="{{ ($index%4==0) && 'span3 fancyItem shadedBackground leftMar0' || 'span3 fancyItem hover-alive shadedBackground' }}">

                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="{{s3baseUrl}}{{storeID}}/{{product.productID}}/img1_240x200.jpg" alt="{{product.productName}} picture">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  {{ (product.productQuantity < 6 && product.productQuantity > 0) && 'quantityText' || 'quantityText hide' }} ng-binding">Only {{product.productQuantity}} left!</span>
                            <span class="hidden-iphone-landscape {{ (product.productQuantity < 1) && 'quantityText' || 'quantityText hide' }}">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button btn-fancy sid="{{product.storeID}}" pid="{{product.productID}}" uname="{{user.userdata.name}}" pname="{{product.productName}}" has-fancied="{{product.hasFancied}}" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red"><span class="btnText"><span class="fancyIconWhite"></span>{{fancytext}}</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#/product/{{product.productName | beautify}}/{{product.productID}}" class="itemDirectLink">More about this product</a>
                        </div>

                    </div>

                    <div class="fancyItemDetails">

                        <h5 class="fancyItemName">{{product.productName}}</h5>

                        <div class="productPriceContainer pull-right">
                            <div class="{{ (product.productIsOnDiscount == 1) && 'productOriPrice strike' || 'productOriPrice hide' }}">&#8377; {{product.productSellingPrice}}</div>
                            <div class="productDiscountedPrice bnbRedFont">&#8377; {{product.discountedPrice}}</div>
                        </div>

                        <div class="fancyItemStats">
                            <div class="fancyIcon block">
                                <span class="fancyCount bnbRedFont">{{product.productFancyCounter}}</span> fancied
                            </div>
                            <div class="viewIcon block">
                                <span class="viewCount bnbRedFont">{{product.productVisitCounter}}</span> viewed
                            </div>
                        </div>

                    </div>
                </li>

            </ul>
        </div>

    </div>

    <ul class="spinner" ng-hide="hideSpinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>