<div id="midSection" class="categoryPage {{(deviceType == 'nonTouch') && 'container-fluid fluidHomePage' || 'container'}}" ng-controller="CategoryController">

    <div id="navBreadcrumbs" navigation-breadcrumbs>
        <ul class="breadcrumb">
            <li class="linkBack"><a href="/">Home</a></li>
            <!-- <li class="active relative">
                <a id="bootStrapDropDownFix" href="#" class="dropdown-toggle bnbRedFont" data-toggle="dropdown">All Categories
                    <span class="caret"></span>
                </a>
            </li> -->
            <li ng-repeat="cat in path">
                <a ng-href="{{cat.data.relativeUrl}}{{cat.data.catID}}" class="{{ !($last) && 'linkBack' || '' }}" ng-click="linkBackPath(cat)">{{cat.data.title}}</a>
            </li>
        </ul>

        <div class="subCategoriesContainer">
            <h5 class="subCatHeading">Subcategories<span class="rightArr pull-right">➤</span></h5>

            <span class="subCats">
                <span class="inlineBlock" ng-repeat="cat in cats.children">
                    <a class="{{(cat.children.length == 0 && cat.data.catID == categoryID) && 'lastActive' || ''}}" ng-href="{{cat.data.relativeUrl}}{{cat.data.catID}}" ng-click="changeSubCats(cat)">{{cat.data.title}} ({{cat.data.totalProducts}})</a>
                </span>
            </span>
        </div>
    </div>

    <!--<div id="banner" class="hidden-phone">-->
        <!--<img class="categoryBannerImg" ng-src="{{bannerSrc}}">-->
    <!--</div>-->

    <!--<div id="sliderFrame" class="visible-desktop">-->
        <!--<div id="slider">-->
            <!--<img class="categoryBannerImg" src="/assets/images/landingPageBanners/furniture1.jpg">-->
            <!--<img class="categoryBannerImg" src="/assets/images/landingPageBanners/furniture2.jpg">-->
            <!--<img class="categoryBannerImg" src="/assets/images/landingPageBanners/furniture3.jpg">-->
            <!--<img class="categoryBannerImg" src="/assets/images/landingPageBanners/furniture4.jpg">-->
            <!--<img class="categoryBannerImg" src="/assets/images/landingPageBanners/furniture5.jpg">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="filtersContainer">-->
        <!--&lt;!&ndash;<button class="btn btn-flat hideFilter closed">Show Filters</button>&ndash;&gt;-->
        <!--<div class="sortText visible-phone">Sort By:</div>-->

        <!--<span class="filterButtons">-->
            <!--<button class="btn {{ (filter == filters.latest) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.latest" ng-click="filterProducts(filters.latest)">New Arrivals</button>-->
            <!--<button class="btn {{ (filter == filters.popularity) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.popularity" ng-click="filterProducts(filters.popularity)">Popularity</button>-->
            <!--<button class="btn {{ (filter == filters.lowestPrice) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.lowestPrice" ng-click="filterProducts(filters.lowestPrice)"><span class="priceFilterText low">Lowest Price</span></button>-->
            <!--<button class="btn {{ (filter == filters.highestPrice) && 'selected disabled' || 'btn-blue' }}" ng-disabled="filter == filters.highestPrice" ng-click="filterProducts(filters.highestPrice)"><span class="priceFilterText high">Highest Price</span></button>-->
            <!--<button class="btn pull-right onSaleButton {{ (filter == filters.onSale) && 'selected disabled' || 'btn-red' }}" ng-disabled="filter == filters.onSale" ng-click="filterProducts(filters.onSale)">On Sale</button>-->
        <!--</span>-->
    <!--</div>-->

    <div class="resultStatsContainer">
        <ul class="unstyled inline">
            <li class="{{ (filter == filters.latest) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.latest) || filterProducts(filters.latest)">
                    <span>
                        New Arrivals
                    </span>
                </a>
            </li>
            <li class="{{ (filter == filters.trending) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.trending) || filterProducts(filters.trending)">
                    <span>
                        Trending
                    </span>
                </a>
            </li>
            <li class="{{ (filter == filters.popularity) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.popularity) || filterProducts(filters.popularity)">
                    <span>
                        Popularity
                    </span>
                </a>
            </li>
            <li class="{{ (filter == filters.lowestPrice) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.lowestPrice) || filterProducts(filters.lowestPrice)">
                    <span>
                        Lowest Price
                    </span>
                </a>
            </li>
            <li class="{{ (filter == filters.highestPrice) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.highestPrice) || filterProducts(filters.highestPrice)">
                    <span>
                        Highest Price
                    </span>
                </a>
            </li>
            <li class="{{ (filter == filters.onSale) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.onSale) || filterProducts(filters.onSale)">
                    <span>
                        On Sale
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <!-- <div class="viewTabsContainer lightBG bottom container cssTransition">
        <button class="removeStyle {{ (filter == filters.latest) && 'active' || '' }}" ng-disabled="filter == filters.latest" ng-click="filterProducts(filters.latest)">New Arrivals</button>
        <button class="removeStyle {{ (filter == filters.popularity) && 'active' || '' }}" ng-disabled="filter == filters.popularity" ng-click="filterProducts(filters.popularity)">Popularity</button>
        <button class="removeStyle {{ (filter == filters.lowestPrice) && 'active' || '' }}" ng-disabled="filter == filters.lowestPrice" ng-click="filterProducts(filters.lowestPrice)"><span class="priceFilterText low">Lowest Price</span></button>
        <button class="removeStyle {{ (filter == filters.highestPrice) && 'active' || '' }}" ng-disabled="filter == filters.highestPrice" ng-click="filterProducts(filters.highestPrice)"><span class="priceFilterText high">Highest Price</span></button>
        <button class="removeStyle {{ (filter == filters.onSale) && 'active' || '' }}" ng-disabled="filter == filters.onSale" ng-click="filterProducts(filters.onSale)">On Sale</button>
    </div> -->

    <!--<div class="span3 sidebarNav">-->
    <!--<ul class="navList unstyled">-->
    <!--<li>-->
    <!--<a class="navOpen" href="">Living Room</a>-->
    <!--<ul class="subNavList">-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--<li>-->
    <!--<a class="navOpen" href="">Second level link</a>-->
    <!--<ul class="subNavList">-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--<li>-->
    <!--<a class="navOpen" href="">Third level link</a>-->
    <!--<ul class="subNavList lastLevel">-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--<li><a class="navOpen" href="">Fourth level link</a></li>-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--<li><a href="">Fourth level link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--<li><a href="">Third level link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--<li><a href="">Second level link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="">Dining Room</a></li>-->
    <!--<li><a href="">Bed Room</a></li>-->
    <!--<li><a href="">Home Office</a></li>-->
    <!--<li><a href="">Entry Way</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <div infinite-scroll="getProducts()" infinite-scroll-distance='1'>
    <div class="fanciedProductsContainer relative" masonry-resize>

        <div class="inlineBlock" ng-repeat="product in products">
        <div class="imageRepetition" masonry-layout>

            <ul class="{{ ($index%2==0) && 'fancyProductMediumContainer row' || 'fancyProductMediumContainer row rightMar0' }}">
                    <li class="fanciedByInfoContainer font15 span1">
                        <a ng-href="profile/fancy/{{product.userID}}" class="fanciedPersonName relative block" role="button" data-toggle="modal">
                            <img ng-src="{{userImg({id: product.userFBID, dimension: 75, gender: product.userGender})}}">
                            <!--<div class="hover_shine cssTransitionSlow"></div>-->
                            <span class="tooltips left invisible cssTransitionSlow">{{product.userFullName}}</span>
                            <!-- <span class="tooltips hide">{{img.userFullName}}</span> -->
                        </a>
                        <!--<div class="fanciedPersonRank">-->
                            <!--<span>{{img.userRank}}</span>-->
                            <!--<span class="rankText">User Rank</span>-->
                        <!--</div>-->
                        <!--<button class="followUserBtn"><span class="followIconWhite"></span><span class="followText">Follow</span></button>-->
                        <a href="profile/badges/{{product.userID}}" data-toggle="modal" class="fanciedByTopBadge relative hidden-phone">
                            <img ng-src="{{product.badgeSrc}}" alt="{{product.userFullName}} top badge"/>
                            <span class="tooltips left invisible cssTransitionSlow">{{product.badgeText}}</span>
                        </a>
                    </li>

                    <li class="span5 fancyItem shadedBackground">
                        <div class="fancyImageBG  _Effect-PF">
                            <div class="fancyItemImageContainer PFE-wrapper" resize-image>
                                <a class="baseContainer" ng-href="product/{{product.productName | beautify}}/{{product.productID}}">
                                    <img class="fancyItemImage" ng-src="{{product.src}}{{imageType}}.jpg" alt="{{product.productName}}">
                                    <span class="imgHoverState"></span>

                                    <div class="itemDetailsContainer">
                                        <div class="{{ (product.productIsOnDiscount == 1) && 'productOriPrice strike' || 'productOriPrice hide' }}"><i class="icon-fontawesome-webfont-5"></i>{{product.productSellingPrice}}</div>
                                        <div class="productDiscountedPrice bnbRedFont"><i class="icon-fontawesome-webfont-5"></i>{{product.discountedPrice}}</div>

                                        <div class="hidden-phone outOfStockText {{ (product.productQuantity < 1) && 'productQuantityInfo' || 'productQuantityInfo hide' }}">
                                            <span class="quantityText">Out of Stock!</span>
                                        </div>

                                    </div>
                                </a>

                                <!--<figcaption class="flipWrapper">-->
                                    <!--<ul class="profileSocial unstyled">-->
                                        <!--<li class="fb-share-button" data-href="https://buynbrag.com/product/{{img.productName | beautify}}/{{img.productID}}" data-type="icon"></li>-->
                                        <!--<li><a href="#" class="icon-facebook-1 "></a></li>-->
                                        <!--<li><a href="#" class="icon-twitter"></a></li>-->
                                        <!--<li><a href="#" class="icon-google-plus"></a></li>-->
                                        <!--<li><a href="#" class="icon-fontello"></a></li>-->
                                    <!--</ul>-->
                                <!--</figcaption>-->

                            </div>

                            <btn-fancy fancy-counter="product.productFancyCounter" pid="{{product.productID}}" sid="{{product.storeID}}" pname="{{product.productName}}" uname="{{user.userdata.name}}" has-fancied="{{product.hasFancied}}"></btn-fancy>

                            <btn-tag pid="{{product.productID}}" sid="{{product.storeID}}" pname="{{product.productName}}" uname="{{user.userdata.name}}"></btn-tag>

                            <share-btns urltoshare="https://buynbrag.com/product/{{product.productName | beautify}}/{{product.productID}}" productname="{{product.productName}}"></share-btns>

                        </div>

                        <div class="fancyItemDetails">
                            <a ng-href="product/{{product.productName | beautify}}/{{product.productID}}"><h5 class="fancyItemName">{{product.productName}}</h5></a>
                            <!-- from <a ng-href="store/{{product.storeName | beautify}}/{{product.storeID}}" title=""><h5 class="fancyItemName">{{product.storeName}}</h5></a>
                            <div class="fancyItemStats">
                                <div class="fancyIcon inlineBlock">
                                    <span class="fancyCount bnbRedFont">{{product.productFancyCounter}}</span> brags
                                </div>
                                <div class="viewIcon inlineBlock">
                                    <span class="viewCount bnbRedFont">{{product.productVisitCounter}}</span> views
                                </div>
                            </div> -->

                            <!--<div class="newCTA_wrapper">-->
                                <!--<i class="newTagBtn" btn-tag ng-click="triggerTag()" pid="{{img.productID}}" sid="{{img.storeID}}" pname="{{img.productName}}" uname="{{user.userdata.name}}"></i>-->
                                <!--&lt;!&ndash;<i class="newShareBtn" btn-share></i>&ndash;&gt;-->
                            <!--</div>-->
                        </div>

                        <div class="altUserDetails hide">
                            <a ng-href="profile/fancy/{{product.userID}}" class="fanciedPersonImg inlineBlock" role="button" data-toggle="modal" ng-show="product.productFancyCounter > 0">
                                <img ng-src="{{userImg({id: product.userFBID, dimension: 75, gender: product.userGender})}}">
                            </a>

                            <div ng-click="openModal('prodBraggedUserModal', {pid: product.productID})" ng-show="product.productFancyCounter > 0" class="userWrapper inlineBlock">
                                <span class="userName block">
                                    <!--<a href="" ng-click="openUserInfo(img.userID)" class="fanciedPersonName inlineBlock" role="button" data-toggle="modal">-->
                                        {{product.userFullName}}
                                    <!--</a>-->
                                </span>
                                <!-- <span class="countText">&nbsp;added this to&nbsp;<span class="bnbRedFont">{{product.bragListName}}</span></span> -->
                                <span class="countText" ng-show="product.productFancyCounter > 1"><span class="bnbRedFont">+{{+product.productFancyCounter-1}}</span>&nbsp;more bragged this</span>
                                <span class="countText" ng-show="product.productFancyCounter == 1">bragged this!</span>
                            </div>

                            <div ng-show="product.productFancyCounter == 0" class="userWrapper">
                                <btn-fancy url="/application/views/app/src/app/exhaustiveFeatures/callToActions/brag/bragBtnFirst.html" fancy-counter="product.productFancyCounter" pid="{{product.productID}}" sid="{{product.storeID}}" pname="{{product.productName}}" uname="{{user.userdata.name}}" has-fancied="{{product.hasFancied}}"></btn-fancy>
                            </div>
                            
                            <btn-cart class="prodPageBtnFancy" quantity="{{product.productQuantity}}" pid="{{product.productID}}" sid="{{product.storeID}}" sp="{{product.discountedPrice}}" pname="{{product.productName}}" color="" size="" selectedquantity="1"></btn-cart>

                        </div>
                    </li>

                </ul>

        </div>
        </div>

    </div>
    </div>

    <ul class="spinner" ng-hide="hideSpinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

<!--<script type="text/javascript">-->
    <!--//imageSlider.reload();-->
    <!--stickyElem();-->
<!--</script>-->
