<!-- <div userswhobragged> -->
<div class="modal-header">
    <button class="close hidden-iphone-portrait" role="button" data-dismiss="modal">×</button>
    <h3>People who also bragged this product</h3>
</div>
<div class="modal-body" element-scroll="getUsersWhoFancied()">

    <div class="list-box userList relative">
        <ul class="unstyled" ng-repeat="user in usersWhoFancied">
            <li>
                <a ng-href="profile/fancy/{{user.userID}}" title="" ng-click="closeModal('prodBraggedUserModal')">
                    <img class="pull-left" ng-src="{{userImg({id: user.userFBID, dimension: 40, gender: user.userGender})}}" title="{{user.userFullName}}" alt="{{user.userFullName}}"/>
                    <h6 class="pull-left">{{user.userFullName}}</h6>    
                </a>
                
                <btn-follow usertofollow="{{user.userID}}" has-followed="{{user.hasFollowed}}"></btn-follow>
            </li>
        </ul>
    </div>

    <img src="/assets/images/loading.gif" alt="" ng-show="busy" />

</div>

<div class="modal-footer">
    <button class="btn btn-red" role="button" data-dismiss="modal">Done</button>
</div>
<!-- </div> -->