/.idea/
/.sass-cache/
/node_modules/
/snapshots/node_modules/
/snapshots/snapshots/
*.php~
*.iml
*.DS_Store
*Thumbs.db
sitemap.xml
snapshots/sitemap.json
/nbproject/
/application/cache/
application/config/database.*
application/logs/*.php
/assets/images/users/
assets/images/users/*
assets/images/users/*.jpg
!assets/images/users/index.php
invoice/*.pdf
logs/*
logs/
invoice/*
bnb_crm/application/cache/*
!bnb_crm/application/cache/index.html
barcode/*.png
bnb_crm/invoice/*

bnb_crm/application/logs/*.php
!bnb_crm/application/logs/index.php
!bnb_crm/application/logs/index.html
*.kdev*
/gitPull.php
