@charset "UTF-8";

@font-face {
  font-family: 'gill';
  src: url("../fonts/gill.eot"), url("../fonts/gill.ttf") format('truetype');
}

@font-face {
  font-family: 'gill_bold';
  src: url("../fonts/gill_b.eot"), url("../fonts/gill_b.TTF") format('truetype');
}

//@font-face {
//  font-family: 'HelveticaStd';
//  src: url("../fonts/HelveticaNeueLTStd-Ex.otf") format('opentype');
//}

@font-face {
  font-family: 'HelveticaStd';
  src: url("../fonts/gill.eot"), url("../fonts/gill.ttf") format('truetype');
}