.viewer {
    background-color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    background-image: -moz-radial-gradient(50% 50%, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%);
    background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%);
    background-image: -o-radial-gradient(50% 50%, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%);
    background-image: -ms-radial-gradient(50% 50%, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%);
    background-image: radial-gradient(50% 50%, ellipse cover, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%);
}

.viewer .caption {
    color: #ba6d3a;
    font-size: 1.4em;
    line-height: 50px;
}

.viewer li>div {
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
}

.viewer li.loading>div {
    background: url(img/loading.gif) center center no-repeat;
}

.multiplebgs .viewer li.loading>div {
    background: url(img/loading.gif) center center no-repeat, url(img/loading_frame.png) center center no-repeat;
}

.viewer li.loading.previous, .viewer li.loading.next {
    background: 0;
}

.viewer img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    behavior: url(../../application/views/PIE.htc);
}

.viewer .close {
    top: 20px !important;
    right: 20px !important;
    font-weight: 700 !important;
    filter: alpha(opacity = 80);
    -khtml-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out -moz-border-radius : 1 em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    background: #fff;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
    behavior: url(../../application/views/PIE.htc);
}

.viewer .close:hover {
    filter: alpha(opacity = 100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}