.viewer .current .caption {
    opacity: 100;
    visibility: visible;
}

.viewer {
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.9);
    filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000)';
}

.viewer .caption {
    color: #FF2956;
    font-size: 1.4em;
    line-height: 50px;
    font-family: gill_bold;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

.viewer li>div {
    left: 30px;
    top: 30px;
    bottom: 30px;
    right: 30px;
}

.viewer li {
    width: 100% !important;
    height: 100% !important;
    float: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.viewer li.first.current {
    margin-left: 0;
}

.viewer li.current {
    z-index: 1;
    text-align: center;
}

.viewer li.previous {
    left: -90%;
}

.viewer li.previous>div {
    text-align: right;
    left: 30px;
    right: 30px;
}

.viewer li.next {
    left: 90%;
}

.viewer li.next>div {
    text-align: left;
    left: 30px;
    right: 30px;
}

.viewer .close {
    top: 10px !important;
    right: 10px !important;
    font-weight: 500 !important;
    filter: alpha(opacity = 80);
    -khtml-opacity: .2;
    -moz-opacity: .2;
    opacity: .2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out color

:#fff

;
font-size:

24
px

;
line-height:

0
;
text-align:center

;
z-index:

3
;
    }

.viewer .close:hover {
    filter: alpha(opacity = 100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}