@charset "utf-8";
.error_content {
    padding-top: 250px;
    margin: 0 auto;
    width: 770px;
    height: auto;
    text-align: center;
    font-family: gill;
    font-size: 48px;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}

.errorbanner_image {
    background-image: url(../images/404_logo.png);
    background-repeat: no-repeat;
    width: 306px;
    height: 103px;
    margin: 0 auto;
}

.sorry_text {
    padding-top: 20px;
}

.unexpected_error_text {
    padding-top: 30px;
    font-size: 26px;
}