/*@font-face {*/
    /*font-family: gill;*/
    /*src: url("../font/gill.ttf");*/
/*}*/

/*@font-face {*/
	/*font-family:gill_bold;*/
	/*src:url("../font/gill.ttf");*/
/*}*/
/*@font-face {font-family:handSean; src:url("../font/handsean.ttf");} 
@font-face {
    font-family: gill_italic;
    src: url("../font/gill_i.ttf");
}

/*@font-face {font-family:ayitaPro; src:url("../font/ayitapro_semibold.ttf");} */
@font-face {
    font-family: RupeeForadian;
    src: url("../font/Rupee_Foradian.ttf");
}

/*@font-face {font-family:MarketingScript; src:url("../font/MarketingScript.ttf");}*/
/*@font-face {*/
    /*font-family: bebas;*/
    /*src: url("../font/Bebas_Neue.ttf");*/
/*}*/

