@charset "utf-8";
.waytostoreBanner {
    background-image: url("../images/top_banner_background.png");
    background-repeat: repeat;
}

.Ie8bg {
    background: url("../images/middle_background.png") repeat scroll 0 0 transparent !important;
}

.middleBackgroundie8 {
    background: url("../images/top_banner_background.png") repeat scroll 0 0 transparent;
}

.landingBannerie {
    background-image: url("../images/top_banner_background.png");
}

.middleColumnTopIE {
    background: url("../images/tab_background.png") repeat-x scroll 0 0 transparent;
}

.bannerBgndIE {
    background: url("../images/bg_image.png") repeat scroll 0 0 transparent;
}

.middleBackgroundStoreIE {
    background: url("../images/storesection_background.png") repeat scroll 0 0 transparent;
}

.banner {
    background-repeat: repeat !important;
    height: 234px !important;
}

.bannerIE {
    background: url("../images/top_banner_background.png") repeat-x scroll 0 0 transparent;
    height: 132px;
    position: relative;
    width: 100%;
}

.middleColumnIE {
    background: url("../images/tab_background.png") repeat-x scroll 0 0 transparent;
    clear: both;
    height: 52px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.bannerIE2 {
    background: url("../images/top_banner_background.png") repeat scroll 0 0 transparent;
    height: 234px !important;
    position: relative;
    width: 100%;
}

.footerIE {
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 1024px;
}