@charset "utf-8";
.addProductsBackgroundTransparent {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    width: 100%;
    height: 56px;
}

.tabsLinksContainerAbsolute {
    position: absolute;
    top: 0;
    height: 55px;
    width: 100%;
}

.addProductLinkHolder {
    height: 50px;
    margin-top: -10px;
    float: right;
}

.addProducts {
    background: #749d5e;
    background: -moz-linear-gradient(bottom, #619049 50%, #749d5e 0);
    background: -webkit-linear-gradient(bottom, #619049 50%, #749d5e 0);
    background: -o-linear-gradient(bottom, #619049 50%, #749d5e 0);
    background: -ms-linear-gradient(bottom, #619049 50%, #749d5e 0);
    -pie-background: linear-gradient(bottom, #619049 50%, #749d5e 0);
    border: none;
    border-bottom: 1px solid #e8e8e8;
    -moz-box-shadow: 0 5px 0 #b3c5aa;
    -webkit-box-shadow: 0 5px 0 #b3c5aa;
    -khtml-box-shadow: 0 5px 0 #b3c5aa;
    -pie-box-shadow: 0 5px 0 #b3c5aa;
    box-shadow: 0 5px 0 #b3c5aa;
    font-family: gill_bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 148px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    float: left;
    behavior: url(../../application/views/PIE.htc);
}

.addProducts:hover {
    background: #8ec273;
    background: -moz-linear-gradient(bottom, #7eb960 50%, #8ec273 0);
    background: -webkit-linear-gradient(bottom, #7eb960 50%, #8ec273 0);
    background: -o-linear-gradient(bottom, #7eb960 50%, #8ec273 0);
    background: -ms-linear-gradient(bottom, #7eb960 50%, #8ec273 0);
    -pie-background: linear-gradient(bottom, #7eb960 50%, #8ec273 0);
    behavior: url(../../application/views/PIE.htc);
}

.addProducts:active {
    background: #537541;
}

.tabsContainerRelative {
    position: relative;
    width: 100%;
}

.tabsLinksContainer {
    border-top: 1px solid #fff;
    width: 1024px;
    height: 56px;
    position: relative;
}

.tabsLinksContainerTransparent {
    background: #ccc;
    border-bottom: 1px solid #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity = 25);
    -moz-opacity: .25;
    -khtml-opacity: .25;
    opacity: .25;
    width: 100%;
    height: 56px;
}

.tabsContainer {
    margin: 0 auto;
    height: auto;
    width: 1024px;
    padding-top: 20px;
    position: relative;
}

.categoryHolder {
    border-left: 1px solid #fff;
    border-right: 1px solid #c8c8c8;
    float: left;
    width: 152px;
    height: 56px;
}

.categoryHolder1 {
    border-left: 1px solid #fff;
    border-right: 1px solid #c8c8c8;
    float: left;
    width: 120px;
    height: 56px;
}

.categoryHolder2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #c8c8c8;
    float: left;
    width: 124px;
    height: 56px;
}

.categoryHolder3 {
    border-left: 1px solid #fff;
    border-right: 1px solid #c8c8c8;
    float: left;
    width: 108px;
    height: 56px;
}

.categoryHolder4 {
    border-left: 1px solid #fff;
    float: left;
    width: 75px;
    height: 56px;
}

.categoryText {
    font-family: gill;
    font-size: 18px;
    float: left;
    padding: 16px 15px 0;
    text-shadow: 0 1px 0 #fff;
    color: #666;
}

.productsTextHolder {
    width: 428px;
    height: 56px;
    float: left;
    border-right: 1px solid #c8c8c8;
}

.productText {
    font-family: gill;
    font-size: 18px;
    color: #666;
    width: 110px;
    padding-top: 20px;
    padding-left: 15px;
    text-shadow: 0 1px 0 #fff;
    float: left;
}

.searchProductsfield {
    float: right;
    width: 286px;
    padding-top: 5px;
    padding-right: 6px;
}

.searchProductsFieldMid {
    background: #e8e8e8;
    border: 1px dashed #949494;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 284px;
    height: 44px;
    position: relative;
    behavior: url(../../application/views/PIE.htc);
}

.searchProductsFieldMid input[type="text"] {
    background: transparent;
    border: 0;
    height: 44px;
    width: 268px;
    color: #333;
    font-family: gill_italic;
    font-size: 15px;
    padding-left: 15px;
    float: left;
}

.searchProductsFieldMid input:focus[type="text"] {
    background-color: #efefef;
}

.textfieldSearch {
    background-image: url(../images/textfield_search.png);
    width: 16px;
    height: 20px;
    top: 11px;
    position: absolute;
    right: 12px;
}

.shoesSocksText {
    float: left;
    padding-left: 15px;
    padding-top: 32px;
}

.category_text {
    color: #999;
    font-family: gill_italic;
    font-size: 14px;
    float: left;
    padding-left: 6px;
    padding-top: 3px;
}

.stableglassHolderProducts {
    width: 428px;
    height: 105px;
    border-right: 1px solid #dbdbdb;
    float: left;
}

.categoriesColumn {
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #dbdbdb;
    width: 152px;
    height: 105px;
}

.priceColumn {
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #dbdbdb;
    width: 120px;
    height: 105px;
}

.quantityColumn {
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #dbdbdb;
    width: 124px;
    height: 105px;
}

.statusColumn {
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #dbdbdb;
    width: 108px;
    height: 105px;
}

.actionColumn {
    float: left;
    border-left: 1px solid #fff;
    width: 75px;
    height: 105px;
}

.priceAmount {
    font-family: gill;
    font-size: 18px;
    padding-top: 40px;
    padding-left: 15px;
    color: #666;
    text-shadow: 0 1px 0 #fff;
}

.stableglassImage {
    width: 75px;
    height: 75px;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}

.promoteStoreImage {
    width: 136px;
    height: 92px;
    padding-top: 5px;
    padding-left: 13px;
}

.promote_tiny_image_holder {
    width: 37px;
    height: 74px;
    padding-top: 13px;
    padding-left: 1px;
    float: left;
}

.actionEdit {
    background-image: url(../images/edit_product.png);
    width: 26px;
    height: 27px;
    margin: 12px auto;
    cursor: pointer;
}

.actionEdit:hover {
    background-image: url(../images/edit_hover.png);
}

.actionEdit:active {
    background-image: url(../images/edit_click.png);
}

.actionClose {
    background-image: url(../images/pupplestore_close.png);
    width: 26px;
    height: 26px;
    margin: 20px auto;
    cursor: pointer;
}

.actionClose:hover {
    background-image: url(../images/delet_hover.png);
}

.actionClose:active {
    background-image: url(../images/delet_click.png);
}

.discountBadge {
    width: 82px;
    height: 84px;
    margin: 10px auto 0;
}

.discountBadge1 {
    width: 78px;
    height: 76px;
    margin: 12px auto 0;
}

.discountBadge2 {
    width: 76px;
    height: 77px;
    margin: 12px auto 0;
}

.discountBadge3 {
    width: 74px;
    height: 76px;
    margin: 12px auto 0;
}

.stableglassText {
    padding-top: 53px !important;
}

.checkbox {
    display: block;
    width: 66px;
    height: 29px;
    margin: 40px auto;
    overflow: hidden;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    border-radius: 14px;
    behavior: url(../../application/views/PIE.htc);
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    text-indent: -9999px;
    display: block;
    width: 80px;
    height: 29px;
    line-height: 29px;
    background: transparent url(../images/on_off.png) no-repeat -37px 0;
    -webkit-transition: background-position .3s ease-in-out;
    -moz-transition: background-position .3s ease-in-out;
}

input[type=checkbox]:checked+label {
    -webkit-transition: background-position .3s ease-in-out;
    -moz-transition: background-position .3s ease-in-out;
    background-position: 0 0;
}