<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Post registeration</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->

    <link href="../styles/vendor.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
</head>
<body>

<!-- add class 'fluidHomePage' and 'container-fluid' -->
<div id="midSection" class="postRegPage regBragProducts container-fluid">

    <!--<div class="processStageContainer text-center relative">-->
        <!--<div class="currentStage">-->
            <!--<div class="stageContentBg first">1</div>-->
            <!--<div class="stageContent active">Select Stores</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div class="currentStage">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="stageContentBg middle">2</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="stageContent ">Follow people</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div class="currentStage ">-->
            <!--<div class="stageContentBg last">2</div>-->
            <!--<div class="stageContent ">Fancy products</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="storeSelectContainer container">

    <div id="msgBanner">
        <span class="bannerText">Lastly fancy 3 products to save them to your fancy list.</span>
        <button class="btn pull-right">Finish</button>
    </div>

    <div class="fanciedProductsContainer">

        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem shadedBackground leftMar0 hoverActive">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/623/img1_240x200.jpg" alt="Rocking Chair picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/623/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="623" uname="" pname="Rocking Chair" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                            </div>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem hover-alive shadedBackground">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/646/img1_240x200.jpg" alt="Gigi Patchwork Sofa picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/646/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 4 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="646" uname="" pname="Gigi Patchwork Sofa" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/Gigi-Patchwork-Sofa/646" class="itemDirectLink" href="#!/product/Gigi-Patchwork-Sofa/646">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem hover-alive shadedBackground">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/620/img1_240x200.jpg" alt="Gigi Lounge Chair picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/620/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText hide ng-binding">Only 11 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="620" uname="" pname="Gigi Lounge Chair" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/Gigi-Lounge-Chair/620" class="itemDirectLink" href="#!/product/Gigi-Lounge-Chair/620">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem hover-alive shadedBackground">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/647/img1_240x200.jpg" alt="Gigi Two Seater Sofa picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/647/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 5 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="647" uname="" pname="Gigi Two Seater Sofa" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/Gigi-Two-Seater-Sofa/647" class="itemDirectLink" href="#!/product/Gigi-Two-Seater-Sofa/647">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem shadedBackground leftMar0">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/627/img1_240x200.jpg" alt="NY Times Wooden Bench picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/627/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 5 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="627" uname="" pname="NY Times Wooden Bench" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/NY-Times-Wooden-Bench/627" class="itemDirectLink" href="#!/product/NY-Times-Wooden-Bench/627">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem hover-alive shadedBackground">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/644/img1_240x200.jpg" alt="Zig-Zag Chest picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/644/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 4 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="644" uname="" pname="Zig-Zag Chest" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/Zig-Zag-Chest/644" class="itemDirectLink" href="#!/product/Zig-Zag-Chest/644">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem hover-alive shadedBackground">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/625/img1_240x200.jpg" alt="Jacques Chair picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/116/625/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 3 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="116" pid="625" uname="" pname="Jacques Chair" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/Jacques-Chair/625" class="itemDirectLink" href="#!/product/Jacques-Chair/625">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem hover-alive shadedBackground">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/194/8453/img1_240x200.jpg" alt="The Macintosh Two Seater Sofa picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/194/8453/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 5 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="194" pid="8453" uname="" pname="The Macintosh Two Seater Sofa" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/The-Macintosh-Two-Seater-Sofa/8453" class="itemDirectLink" href="#!/product/The-Macintosh-Two-Seater-Sofa/8453">More about this product</a>
                        </div>

                    </div>

                </li>

            </ul>
        </div>
        <div class="imageRepetition">
            <ul class="fancyProductMediumContainer">
                <li dm-click="" class="span3 fancyItem shadedBackground leftMar0">
                    <div class="fancyImageBG">

                        <div class="fancyItemImageContainer">
                            <img class="fancyItemImage" ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/215/7279/img1_240x200.jpg" alt="Kara Trundle Bed Set picture" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/215/7279/img1_240x200.jpg">
                        </div>

                        <div class="fancyItemHiddenContainer invisible cssTransition">
                            <span class="hidden-iphone-landscape  quantityText ng-binding">Only 1 left!</span>
                            <span class="hidden-iphone-landscape quantityText hide">Out of Stock!</span>

                            <!--<a href="#quickViewModal" role="button" class="openQuickView hidden-phone font13" data-toggle="modal" ng-click="pidtoquickview(product.productID, product.storeID)">Click here for more info</a>-->

                            <div class="productCtaContainer">
                                <button xhr-spinner="" btn-fancy="" sid="215" pid="7279" uname="" pname="Kara Trundle Bed Set" has-fancied="0" dm-click="triggerFancy()" class="fancyItemBtn btn btn-red ng-isolate-scope"><span class="btnText ng-binding"><span class="fancyIconWhite"></span>Fancy It!</span></button>
                                <!--<button class="bragItemBtn btn btn-flat"><span class="btnText"><span class="bragIconPink"></span>Brag</span></button>-->
                            </div>

                            <a ng-href="#!/product/Kara-Trundle-Bed-Set/7279" class="itemDirectLink" href="#!/product/Kara-Trundle-Bed-Set/7279">More about this product</a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>

    </div>

    </div>

</div>

<script type="text/javascript">
    // Sticky elements on scroll

    var stickyElem = function(msgBanner, bodyElem, offset, bodyElemProp) {

//        var msgBanner = document.getElementById('msgBanner');
//        var bodyElem = document.querySelector('.fanciedProductsContainer');

//        var stop = (msgBanner.offsetTop + 57);
        var stop = (msgBanner.offsetTop + offset);

        window.onscroll = function(e) {
            var scrollTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
//        console.log(scrollTop, navBreadcrumbs.offsetTop);

            if (scrollTop >= stop) {
                msgBanner.className = 'stick';
                bodyElem.style.marginTop = bodyElemProp + 'px';
            } else {
                msgBanner.className = '';
                bodyElem.style.marginTop = '';
            }

        }

    };

    // End sticky elements on scroll

    stickyElem(document.getElementById('msgBanner'), document.querySelector('.fanciedProductsContainer'), 0, 56);
</script>

</body>
</html>