<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Post registeration</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->

    <link href="../styles/vendor.css" rel="stylesheet">
    <link href="../styles/main.css" rel="stylesheet">
</head>
<body>

<!-- add class 'fluidHomePage' and 'container-fluid' -->
<div id="midSection" class="postRegPage regFollowStores container-fluid">

    <!--<div class="processStageContainer text-center relative">-->
        <!--<div class="currentStage">-->
            <!--<div class="stageContentBg first">1</div>-->
            <!--<div class="stageContent active">Select Stores</div>-->
        <!--</div>-->

        <!--<div class="currentStage">-->
            <!--<div class="stageContentBg middle">2</div>-->
            <!--<span class="stageContent ">Follow people</span>-->
        <!--</div>-->

        <!--<div class="currentStage ">-->
            <!--<div class="stageContentBg last">3</div>-->
            <!--<span class="stageContent ">Fancy products</span>-->
        <!--</div>-->
    <!--</div>-->

    <div class="storeSelectContainer container">

        <div class="featuredStoresContainer">

            <div id="msgBanner">
                <span class="bannerText">Follow 3 stores to get started.</span>
                <button class="btn pull-right">Continue</button>
            </div>

            <div class="inlineBlock">
                <ul class="span6 leftMar0">
                    <li class="storeDetailContainer">
                        <div class="storeBrandingContainer shadedBackground">
                            <span class="storeBannerName inlineBlock">Importwala</span>
                            <button class="storeBannerButton btn btn-info btn-mini">Follow</button>
                        </div>
                        <div class="storeProductsPreviewContainer">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11295/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11295/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                        </div>
                        <div class="storeStatsContainer shadedBackground">
                            <div class="pull-left">
                                <div>
                                    <span class="fancyCount bnbRedFont ng-binding">4</span> followers
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">59</span> fancies
                                </div>
                            </div>
                            <div class="pull-right">
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">207</span> products
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">848</span> viewed
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="inlineBlock">
                <ul class="span6">
                    <li class="storeDetailContainer">
                        <div class="storeBrandingContainer shadedBackground">
                            <!--<a class="storeBannerImgContainer" ng-href="#/store/{{store.storeDetails.store_name | beautify}}/{{store.storeDetails.store_id}}">-->
                            <!--<img ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/{{store.storeDetails.store_id}}/top_banner.jpg" alt="Store branding banner">-->
                            <!--</a>-->
                            <span class="storeBannerName inlineBlock">Why so serious ?</span>
                            <button class="storeBannerButton btn btn-info btn-mini">Follow</button>
                        </div>
                        <div class="storeProductsPreviewContainer">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8400/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8400/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                        </div>
                        <div class="storeStatsContainer shadedBackground">
                            <div class="pull-left">
                                <div>
                                    <span class="fancyCount bnbRedFont ng-binding">15</span> followers
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">2020</span> fancies
                                </div>
                            </div>
                            <div class="pull-right">
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">108</span> products
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">5951</span> viewed
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="inlineBlock">
                <ul class="span6 leftMar0">
                    <li class="storeDetailContainer">
                        <div class="storeBrandingContainer shadedBackground">
                            <span class="storeBannerName inlineBlock">Importwala</span>
                            <button class="storeBannerButton btn btn-info btn-mini">Follow</button>
                        </div>
                        <div class="storeProductsPreviewContainer">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11295/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11295/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                        </div>
                        <div class="storeStatsContainer shadedBackground">
                            <div class="pull-left">
                                <div>
                                    <span class="fancyCount bnbRedFont ng-binding">4</span> followers
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">59</span> fancies
                                </div>
                            </div>
                            <div class="pull-right">
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">207</span> products
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">848</span> viewed
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="inlineBlock">
                <ul class="span6">
                    <li class="storeDetailContainer">
                        <div class="storeBrandingContainer shadedBackground">
                            <!--<a class="storeBannerImgContainer" ng-href="#/store/{{store.storeDetails.store_name | beautify}}/{{store.storeDetails.store_id}}">-->
                            <!--<img ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/{{store.storeDetails.store_id}}/top_banner.jpg" alt="Store branding banner">-->
                            <!--</a>-->
                            <span class="storeBannerName inlineBlock">Why so serious ?</span>
                            <button class="storeBannerButton btn btn-info btn-mini">Follow</button>
                        </div>
                        <div class="storeProductsPreviewContainer">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8400/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8400/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                        </div>
                        <div class="storeStatsContainer shadedBackground">
                            <div class="pull-left">
                                <div>
                                    <span class="fancyCount bnbRedFont ng-binding">15</span> followers
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">2020</span> fancies
                                </div>
                            </div>
                            <div class="pull-right">
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">108</span> products
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">5951</span> viewed
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="inlineBlock">
                <ul class="span6 leftMar0">
                    <li class="storeDetailContainer">
                        <div class="storeBrandingContainer shadedBackground">
                            <span class="storeBannerName inlineBlock">Importwala</span>
                            <button class="storeBannerButton btn btn-info btn-mini">Follow</button>
                        </div>
                        <div class="storeProductsPreviewContainer">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11295/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11295/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11254/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/252/11305/img1_171x171.jpg">
                        </div>
                        <div class="storeStatsContainer shadedBackground">
                            <div class="pull-left">
                                <div>
                                    <span class="fancyCount bnbRedFont ng-binding">4</span> followers
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">59</span> fancies
                                </div>
                            </div>
                            <div class="pull-right">
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">207</span> products
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">848</span> viewed
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="inlineBlock">
                <ul class="span6">
                    <li class="storeDetailContainer">
                        <div class="storeBrandingContainer shadedBackground">
                            <!--<a class="storeBannerImgContainer" ng-href="#/store/{{store.storeDetails.store_name | beautify}}/{{store.storeDetails.store_id}}">-->
                            <!--<img ng-src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/{{store.storeDetails.store_id}}/top_banner.jpg" alt="Store branding banner">-->
                            <!--</a>-->
                            <span class="storeBannerName inlineBlock">Why so serious ?</span>
                            <button class="storeBannerButton btn btn-info btn-mini">Follow</button>
                        </div>
                        <div class="storeProductsPreviewContainer">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8400/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8400/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8402/img1_171x171.jpg">
                            <img alt="Store Item" src="http://buynbragstores.s3.amazonaws.com/assets/images/stores/224/8405/img1_171x171.jpg">
                        </div>
                        <div class="storeStatsContainer shadedBackground">
                            <div class="pull-left">
                                <div>
                                    <span class="fancyCount bnbRedFont ng-binding">15</span> followers
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">2020</span> fancies
                                </div>
                            </div>
                            <div class="pull-right">
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">108</span> products
                                </div>
                                <div>
                                    <span class="viewCount bnbRedFont ng-binding">5951</span> viewed
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    // Sticky elements on scroll

    var stickyElem = function(msgBanner, bodyElem, offset, bodyElemProp) {

//        var msgBanner = document.getElementById('msgBanner');
//        var bodyElem = document.querySelector('.fanciedProductsContainer');

//        var stop = (msgBanner.offsetTop + 57);
        var stop = (msgBanner.offsetTop + offset);

        window.onscroll = function(e) {
            var scrollTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
//        console.log(scrollTop, navBreadcrumbs.offsetTop);

            if (scrollTop >= stop) {
                msgBanner.className = 'stick';
                bodyElem.style.marginTop = bodyElemProp + 'px';
            } else {
                msgBanner.className = '';
                bodyElem.style.marginTop = '';
            }

        }

    };

    // End sticky elements on scroll

    stickyElem(document.getElementById('msgBanner'), document.querySelector('.fanciedProductsContainer'), 0, 56);
</script>

</body>
</html>