 <!--add class 'fluidHomePage' and 'container-fluid'-->
<div id="midSection" class="homePage {{(deviceType == 'nonTouch') && 'container-fluid fluidHomePage' || 'container'}}" ng-controller="HomeController">

    <div class="resultStatsContainer">

        <ul class="unstyled inline">
            <li class="{{ (filter == filters.myFeed.val) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.myFeed.val) || filterByFame(filters.myFeed)">
                    <span>My feed</span>
                </a>
            </li>
            <li class="{{ (filter == filters.recentlyFancied.val) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.recentlyFancied.val) || filterByFame(filters.recentlyFancied)">
                    <span>Trending</span>
                </a>
            </li>
            <li class="{{ (filter == filters.popularity.val) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.popularity.val) || filterByFame(filters.popularity)">
                    <span>Most popular</span>
                </a>
            </li>
            <li class="{{ (filter == filters.favourites.val) && 'active' || '' }}">
                <a ng-href="" ng-click="(filter == filters.favourites.val) || filterByFame(filters.favourites)">
                    <span>Our favourites</span>
                </a>
            </li>

            <!--<layout-switcher class="pull-right visible-desktop"></layout-switcher>-->
            <layout-switcher class="pull-right hide"></layout-switcher>

        </ul>


    </div>

    <div infinite-scroll="getProducts()" infinite-scroll-distance='1'>
        <div class="fanciedProductsContainer relative" masonry-resize>
            <div class="inlineBlock" ng-repeat="img in products track by img.productID">
            <div class="imageRepetition" masonry-layout>

                <ul class="{{ ($index%2==0) && 'fancyProductMediumContainer row' || 'fancyProductMediumContainer row rightMar0' }}">
                    <li class="fanciedByInfoContainer font15 span1">
                        <a ng-href="profile/fancy/{{img.userID}}" class="fanciedPersonName relative block" role="button" data-toggle="modal">
                            <img ng-src="{{userImg({id: img.userFBID, dimension: 75, gender: img.userGender})}}">
                            <!--<div class="hover_shine cssTransitionSlow"></div>-->
                            <span class="tooltips left invisible cssTransitionSlow">{{img.userFullName}}</span>
                            <!-- <span class="tooltips hide">{{img.userFullName}}</span> -->
                        </a>
                        <!--<div class="fanciedPersonRank">-->
                            <!--<span>{{img.userRank}}</span>-->
                            <!--<span class="rankText">User Rank</span>-->
                        <!--</div>-->
                        <!--<button class="followUserBtn"><span class="followIconWhite"></span><span class="followText">Follow</span></button>-->
                        <a href="profile/badges/{{img.userID}}" data-toggle="modal" class="fanciedByTopBadge relative hidden-phone">
                            <img ng-src="{{img.badgeSrc}}" alt="{{img.userFullName}} top badge"/>
                            <span class="tooltips left invisible cssTransitionSlow">{{img.badgeText}}</span>
                        </a>
                    </li>

                    <li class="span5 fancyItem shadedBackground">
                        <div class="fancyImageBG  _Effect-PF">
                            <div class="fancyItemImageContainer PFE-wrapper" resize-image>
                                <a class="baseContainer" ng-href="product/{{img.productName | beautify}}/{{img.productID}}">
                                    <img class="fancyItemImage" ng-src="{{img.src}}{{imageType}}.jpg" alt="{{img.productName}}">
                                    <span class="imgHoverState hidden-iphone-portrait"></span>

                                    <div class="itemDetailsContainer">
                                        <div class="{{ (img.productIsOnDiscount == 1) && 'productOriPrice strike' || 'productOriPrice hide' }}"><i class="icon-fontawesome-webfont-5"></i>{{img.productSellingPrice}}</div>
                                        <div class="productDiscountedPrice bnbRedFont"><i class="icon-fontawesome-webfont-5"></i>{{img.discounted_price}}</div>

                                        <div class="hidden-phone outOfStockText {{ (img.productQuantity < 1) && 'productQuantityInfo' || 'productQuantityInfo hide' }}">
                                            <span class="quantityText">Out of Stock!</span>
                                        </div>

                                    </div>
                                </a>

                                <!--<figcaption class="flipWrapper">-->
                                    <!--<ul class="profileSocial unstyled">-->
                                        <!--<li class="fb-share-button" data-href="https://buynbrag.com/product/{{img.productName | beautify}}/{{img.productID}}" data-type="icon"></li>-->
                                        <!--<li><a href="#" class="icon-facebook-1 "></a></li>-->
                                        <!--<li><a href="#" class="icon-twitter"></a></li>-->
                                        <!--<li><a href="#" class="icon-google-plus"></a></li>-->
                                        <!--<li><a href="#" class="icon-fontello"></a></li>-->
                                    <!--</ul>-->
                                <!--</figcaption>-->

                            </div>

                            <btn-fancy class="hidden-iphone-portrait" fancy-counter="product.productFancyCounter" pid="{{img.productID}}" sid="{{img.storeID}}" pname="{{img.productName}}" uname="{{user.userdata.name}}" has-fancied="{{img.hasFancied}}"></btn-fancy>

                            <btn-tag class="hidden-iphone-portrait" pid="{{img.productID}}" sid="{{img.storeID}}" pname="{{img.productName}}" uname="{{user.userdata.name}}"></btn-tag>

                            <share-btns class="hidden-iphone-portrait" urltoshare="https://buynbrag.com/product/{{img.productName | beautify}}/{{img.productID}}" productname="{{img.productName}}"></share-btns>

                        </div>

                        <div class="fancyItemDetails">
                            <a ng-href="product/{{img.productName | beautify}}/{{img.productID}}"><h5 class="fancyItemName">{{img.productName}}</h5></a>

                            <!-- from <a ng-href="store/{{img.storeName | beautify}}/{{img.storeID}}" title=""><h5 class="fancyItemName">{{img.storeName}}</h5></a> -->
                            <!-- <div class="fancyItemStats">
                                <div class="fancyIcon inlineBlock">
                                    <span class="fancyCount bnbRedFont">{{img.productFancyCounter}}</span> brags
                                </div>
                                <div class="viewIcon inlineBlock">
                                    <span class="viewCount bnbRedFont">{{img.productVisitCounter}}</span> views
                                </div>
                            </div> -->

                            <!--<div class="newCTA_wrapper">-->
                                <!--<i class="newTagBtn" btn-tag ng-click="triggerTag()" pid="{{img.productID}}" sid="{{img.storeID}}" pname="{{img.productName}}" uname="{{user.userdata.name}}"></i>-->
                                <!--<i class="newShareBtn" btn-share></i>-->
                            <!--</div>-->
                        </div>

                        <div class="mobileCtaWrapper visible-iphone-portrait">
                            <button class="bragBtnWrapper"><i class="bragBtnMini newBragBtn"></i></button>
                            <button class="bragBtnWrapper"><i class="bragBtnMini newTagBtn"></i></button>
                            <button class="bragBtnWrapper"><i class="bragBtnMini newShareBtn"></i></button>
                        </div>

                        <div class="altUserDetails hide">
                            <a ng-href="profile/fancy/{{img.userID}}" class="fanciedPersonImg inlineBlock" role="button" data-toggle="modal" ng-show="img.productFancyCounter > 0">
                                <img ng-src="{{userImg({id: img.userFBID, dimension: 75, gender: img.userGender})}}">
                            </a>

                            <div ng-click="openModal('prodBraggedUserModal', {pid: img.productID})" class="userWrapper inlineBlock" ng-show="img.productFancyCounter > 0">
                                <span class="userName block">
                                    <!--<a href="" ng-click="openUserInfo(img.userID)" class="fanciedPersonName inlineBlock" role="button" data-toggle="modal">-->
                                        {{img.userFullName}}
                                    <!--</a>-->
                                </span>
                                <!-- <span class="countText">&nbsp;added this to&nbsp;<span class="bnbRedFont">{{img.bragListName}}</span></span> -->
                                <span class="countText" ng-show="img.productFancyCounter > 1"><span class="bnbRedFont">+{{+img.productFancyCounter-1}}</span>&nbsp;more bragged this</span>
                                <span class="countText" ng-show="img.productFancyCounter == 1">bragged this!</span>
                            </div>

                            <div ng-show="img.productFancyCounter == 0" class="userWrapper">
                                <btn-fancy fancy-counter="img.productFancyCounter" url="/application/views/app/src/app/exhaustiveFeatures/callToActions/brag/bragBtnFirst.html" class="hidden-iphone-portrait" pid="{{img.productID}}" sid="{{img.storeID}}" pname="{{img.productName}}" uname="{{user.userdata.name}}" has-fancied="{{img.hasFancied}}"></btn-fancy>
                            </div>

                            <btn-cart class="prodPageBtnFancy" quantity="{{img.productQuantity}}" pid="{{img.productID}}" sid="{{img.storeID}}" sp="{{img.discounted_price}}" pname="{{img.productName}}" color="" size="" selectedquantity="1"></btn-cart>

                        </div>
                    </li>

                </ul>

            </div>
            </div>
        </div>
    </div>

    <ul class="spinner" ng-hide="hideSpinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>
