<div tag-friends>
<div class="modal-header ng-scope">
    <button class="close hidden-iphone-portrait" role="button" data-dismiss="modal">×</button>
    <h3>Tag a friend</h3>
</div>
<div class="modal-body ng-scope">

    <div class="productImage">
        <img alt="{{product.pname}}" ng-src="{{s3baseUrl}}{{product.sid}}/{{product.pid}}/fancy3.jpg">
    </div>

    <div class="createListWrapper">
        <label for="createListInput">Enter you friends name</label>

        <div class="inputWrapper">
            <span class="nameWrapper" style="width: {{friend.name.length * 8}}px; white-space:'no-wrap'" ng-repeat="friend in taggedFriends"><span class="nameCont">{{friend.name}}</span><span ng-click="deleteFriendToTag(friend)" class="delete">&times;</span></span>
            <input class="tagListInput" name="createListInput" id="createListInput" type="text" placeholder="@friend" ng-model="friendKey" style="width: {{inputWidth}}px !important;">
        </div>

    </div>

    <div class="list-box userList relative" ng-show="showFriends">
        <ul class="unstyled">
            <li activate-item="friend" ng-repeat="friend in searchResults" ng-click="addFriendToTag(friend)">
                <img class="pull-left" ng-src="{{ userImg({id: friend.id, dimension: 50, gender: ''}) }}" alt="{{friend.name}}"/>
                <h6 class="pull-left">{{friend.name}}</h6>
                <i class="icon-facebook-1 pull-right"></i>
            </li>
        </ul>
    </div>

</div>

<div class="modal-footer ng-scope">
    <button class="btn btn-red" role="button" data-dismiss="modal" ng-click="tagFriends()">Done</button>
</div>
</div>