<div cartmodalcheckout>
<div class="modal-header ng-scope">
    <button class="close hidden-iphone-portrait" role="button" data-dismiss="modal">×</button>
    <h3>Products in your cart</h3>
</div>

<div class="modal-body ng-scope">

    <div class="loadingOverlay" ng-show="showSpinner">
        <ul class="spinner">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <h4 ng-show="emptyCart">Your cart is empty</h4>

    <div class="cart-list" ng-show="!emptyCart">
        <table class="tb-cart table" ng-repeat="store in cartData.stores">

            <thead>
                <tr>
                    <th class="item">Item</th>
                    <!-- <th class="item">COD Available</th> -->
                    <th class="price">Price</th>
                    <th class="qty">Quantity</th>
                    <th class="total">Total</th>
                </tr>
            </thead>

            <tbody>

            <!-- Repaeat this to end where this commment ends -->
                <tr ng-repeat-start="item in store.items">
                    <td class="item">
                    <div class="relative cartDetailWrapper">
                        <a ng-href="product/{{item.productName | beautify}}/{{item.productID}}" ng-click="closeModal('checkoutModal')" class="figure">
                            <span class="figure-img">
                                <img ng-src="{{s3baseUrl}}{{item.storeID}}/{{item.productID}}/img1_240x200.jpg">
                            </span>
                            <b class="figcaption">{{item.productName}}</b>
                        </a>
                        <span class="detail">

                                <em class="option" ng-show="item.variants.sizeVariants.length > 0">
                                    <small>Size:</small>
                                    <select class="embo-select option_" data-siid="170247" data-cid="1720089" data-sicid="5866195" ng-model="item.selectedSize" ng-options="variant.size for variant in item.variants.sizeVariants" ng-change="updateCart(item)"></select>
                                </em>

                                <em class="option" ng-show="item.variants.colorVariants.length > 0">
                                    <small>Color:</small>
                                    <select class="embo-select option_" data-siid="170247" data-cid="1720089" data-sicid="5866195" ng-model="item.selectedColor" ng-options="variant.color for variant in item.variants.colorVariants" ng-change="updateCart(item)"></select>
                                </em>

                                <!-- <em class="option">
                                    <small>Quantity:</small>
                                    <select class="embo-select option_" data-siid="170247" data-cid="1720089" data-sicid="5866195" ng-model="item.selectedQuantity" ng-options="quantity.num for quantity in item.quantityRange"></select>
                                </em> -->


                                <em class="arrival">
                                    <small>Estimated Arrival</small>
                                    <span>{{item.dispatchDate | date:'mediumDate'}}</span>
                                </em>

                            </span>

                        <!-- <span class="unavailable">The selected option is currently unavailable.</span> -->

                    </div>
                    </td>

                    <!-- <td colspan="" rowspan="" headers="">
                        <div class="successCheck" ng-show="+item.storeCODPolicy === 1">&#10003;</div>
                        <div class="successCheck" ng-show="+item.storeCODPolicy === 0">&times;</div>
                    </td> -->

                    <td class="price">Rs. {{item.sellingPrice}}</td>
                    <td class="qty">
                        <select class="embo-select" cid="1720089" sicid="5866195" ng-model="item.selectedQuantity" ng-options="quantity.num for quantity in item.quantityRange" ng-change="updateCart(item)"></select>
                    </td>
                    <td class="total">
                    	<div class="relative">
                        	<b>Rs. {{item.totalPayable}}</b>
                        	<button class="btn btn-mini pull-right removeItm" ng-click="deleteCartItem(item)"><i class="icon-trash"></i>Remove</button>
						</div>
                    </td>
                </tr>
                <tr class="hide" ng-repeat-end><td colspan="4" class="space"></td></tr>

            <!-- End Repeat this to end where this comment ends -->


            </tbody>
        </table>

    </div>

</div>

<div class="modal-footer ng-scope">
    <button class="btn btn-blue pull-left" role="button" ng-click="closeModal('checkoutModal')">Continue shopping</button>
    <a target="_self" href="/cart/shopping_cart"  class="btn btn-red" role="button">Checkout now</a>
</div>
</div>