<div id="midSection" class="container forgotPasswordPage cssTransitionSlow" ng-controller="ForgotPasswordController">

    <div class="{{ (show == true) && 'resetPassContainer container' || 'hide' }}">

        <h3 class="text-center">Reset password</h3>

        <div class="resetTextContainer">

            <div class="resetHeading">Just provide us with your email address and we'll help you reset your password. </div>
            <form id="forget">
                <div class="input-prepend block">
                    <span class="add-on hidden-iphone-landscape">Email Address</span>
                    <input type="email" placeholder="Your Email" id="inputEmail" ng-model="email">
                </div>

                <button form="forget" class="btn btn-blue" ng-click="recoverPassword()" type="submit" >Reset my password</button>

            </form>

        </div>

        <span class="{{ (message.length > 0) && 'resetError inlineBlock bnbRedFont' || 'hide' }}"><span class="cross relative inlineBlock">&#10008;</span>{{message}}</span>
    </div>

    <!--<div class="resetSuccess">-->
    <div class="{{ (show == false) && 'resetSuccess container' || 'hide' }}">
        <div class="successMsgContainer text-center">
            <div class="successCheck inlineBlock">&#10003;</div>
            <h3>Email sent</h3>
            <div class="resetHeading">Check your email for further instructions to reset password.</div>
        </div>
    </div>

</div>