<div sign-in id="midSection" class="container loginPage cssTransitionSlow">

    <div class="userLoginContainer">

        <p class="loginHeading">Login and Discover</p>
        <p><a href="/fbLogin/index"><img src="/application/views/dist/images/sprites/fbLogin.png" alt="FB login image"></a></p>
        <p>---------------------------- OR ----------------------------</p>
        <p class="signInText">Login with your email address</p>

        <form id="login" name="loginForm" novalidate ng-submit="signInLocal()">
            <div class="input-prepend block">
                <span class="add-on">Email Address</span>
                <input type="email" placeholder="Your Email" ng-model="login.email" ng-minlength=3 ng-maxlength=50 required autofocus/>
            </div>

            <div class="input-prepend block">
                <span class="add-on">Password</span>
                <input type="password" placeholder="Your Password" id="inputPassword" ng-model="login.password" required autocomplete="off"/>
            </div>

            <button class="signInBtn btn btn-red block" type="submit" >Login</button>
        </form>

        <a href="#/forgot" class="forgotPassword block">Forgot password?</a>

        <div class="signUpUserContainer">
            Don't have an account yet?
            <a href="#/register" class="bnbRedFont userSignUpButton">Register & Discover</a>
        </div>

        <div class="formError" ng-show="formError">{{formError}}</div>
    </div>

</div>