<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="userRegisterContainer">
    <div class="icon"><img src="/application/views/dist/images/new-registration/eye.png" alt=""></div>
        <p class="registerHeading">Register and start Exploring</p>
        <p class="fbRegisterImg"><a class="fb-but" href="" data-dismiss="modal" ng-click="startRegistration()">
            <i class="icon-facebook-1 fbicon"></i>
            <span>REGISTER WITH FACEBOOK</span>
        </a></p>

        <p class="fbCouponMsg">Sign up with Facebook and get <span class="bnbRedFont">&#8377; 2500</span> worth of shopping free.</p>

        <p class="disclaimer">BuynBrag respects your privacy. We don't share your data with any third party. Period.</p>

        <!--<p><img src="/application/views/dist/images/sprites/orDivider.png" alt="or divider"></p>-->
        <!--<p class="signUpText">Sign-up using your email address</p>-->

        <!--<div id="register">-->
        <!--<div class="input-prepend block emailContainer">-->
        <!--<span class="add-on">Email Address</span>-->
        <!--<input type="email" placeholder="Email address" ng-model="register.email" required autofocus>-->
        <!--</div>-->
        <!--<div class="input-prepend block">-->
        <!--<span class="add-on">Create Password</span>-->
        <!--<input type="password" placeholder="Create password" ng-model="register.pw1" required>-->
        <!--</div>-->
        <!--<div class="input-prepend block">-->
        <!--<span class="add-on">Confirm Password</span>-->
        <!--<input type="password" placeholder="Confirm password" ng-model="register.pw2" required>-->
        <!--</div>-->

        <!--&lt;!&ndash;<label class="inlineBlock">Male<input class="inlineBlock" name="genderSelect" type="radio" ng-model="register.gender" value="male" required></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="inlineBlock">Female<input class="inlineBlock" name="genderSelect" type="radio" ng-model="register.gender" value="female" required></label>&ndash;&gt;-->

        <!--&lt;!&ndash;<button class="btn btn-red block" ng-click="signUpLocal()" type="submit" >Create my account</button>&ndash;&gt;-->
        <!--<a href="#registerInfoModal" class="btn btn-red block" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true">Lets begin!</a>-->

        <!--</div>-->

</div>

<div class="modal-footer hide">
    <button type="button" class="btn btn-flat" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>