<div sign-up id="midSection" class="container registerPage cssTransitionSlow">

    <div class="userRegisterContainer">

        <p class="registerHeading">Register and start Exploring</p>
        <p class="fbRegisterImg"><a href="/fbLogin/index"><img src="/application/views/dist/images/sprites/fbSignUp.png" alt="Facebook register image"></a></p>

        <p class="fbCouponMsg">Sign up with Facebook and get <span class="bnbRedFont">&#8377; 500</span> coupon.</p>
        <!--<p>---------------------------- OR ----------------------------</p>-->
        <!--<p class="signUpText">Sign-up using your email address</p>-->

        <!--<form id="register">-->
            <!--<div class="input-prepend block emailContainer">-->
                <!--<span class="add-on">Email Address</span>-->
                <!--<input type="email" placeholder="Email address" ng-model="register.email" required autofocus>-->
            <!--</div>-->
            <!--<div class="input-prepend block">-->
                <!--<span class="add-on">Create Password</span>-->
                <!--<input type="password" placeholder="Create password" ng-model="register.pw1" required>-->
            <!--</div>-->
            <!--<div class="input-prepend block">-->
                <!--<span class="add-on">Confirm Password</span>-->
                <!--<input type="password" placeholder="Confirm password" ng-model="register.pw2" required>-->
            <!--</div>-->

            <!--<div class="input-prepend block">-->
                <!--<span class="add-on">First Name</span>-->
                <!--<input type="text" placeholder="First name" ng-model="register.fname" required>-->
            <!--</div>-->
            <!--<div class="input-prepend block">-->
                <!--<span class="add-on">Last Name</span>-->
                <!--<input type="text" placeholder="Last name" ng-model="register.lname" required>-->
            <!--</div>-->

            <!--<div class="radioBtnContainer">-->
                <!--<label class="inlineBlock">Male<input class="inlineBlock" name="genderSelect" type="radio" ng-model="register.gender" value="male" required></label>-->
                <!--<label class="inlineBlock">Female<input class="inlineBlock" name="genderSelect" type="radio" ng-model="register.gender" value="female" required></label>-->
            <!--</div>-->


            <!--<button class="btn btn-red block" ng-click="signUpLocal()" type="submit" >Create my account</button>-->

        <!--</form>-->

        <!--<div class="formError" ng-show="formError">{{formError}}</div>-->

    </div>

</div>