<div  id="midSection" class="container resetPasswordPage cssTransitionSlow" ng-controller="ResetPasswordController">

        <h3 class="bnbRedFont">Set up your new password</h3>

        <form id="login" class="ng-pristine ng-valid">
            <div class="input-prepend block">
                <span class="add-on hidden-iphone-landscape" style="width: 7.76em;">New Password</span>
                <input type="password" placeholder="New Password" ng-model="newPasswords.password1">
            </div>

            <div class="input-prepend block">
                <span class="add-on hidden-iphone-landscape" style="width: 7.76em;">Confirm Password</span>
                <input type="password" placeholder="Confirm Password" ng-model="newPasswords.password2">
            </div>

            <button class="btn btn-red block" type="submit" ng-click="resetPassword()">Reset my password</button>
        </form>

        <span class="{{ (message.length > 0) && 'resetError inlineBlock bnbRedFont' || 'hide' }}">{{message}}</span>

        <!--<div class="errorMsg">Still unable to reset your password?</div>-->

        <!--<div class="contactUsContainer row">-->
        <!--<div class="span4">-->
        <!--<h4>Email us</h4>-->
        <!--Drop us a mail and we would personally see to it that your problem gets resolved. Email us at&nbsp;<a href="mailto:talktous@buynbrag.com?Subject=404%20error" target="_top">talktous@buynbrag.com</a> to help fix it.-->
        <!--</div>-->
        <!--<div class="span4">-->
        <!--<h4>Give us a ring</h4>-->
        <!--Don't hesitate to contact us. We would love to help you out. <b>Call us at&nbsp;<a style="color: #000; text-decoration: none;" href="tel:918731878822">+91-8731878822</a>.</b>-->
        <!--</div>-->
        <!--</div>-->

    </div>